!!!
%html
  %head
    %link{ :href => 'stylesheets/base.css', :rel => 'stylesheet', :type => 'text/css' }

  %body
    .dashboard
      .title
        %h1
          Hello, world!
        %p 
          Good to be here.

    .content
      %p 
        I am content